[buildout]
extends =
  http://dist.plone.org/versions/zopetoolkit-1-0-8-zopeapp-versions.cfg
  http://dist.plone.org/versions/zope-2-13-22-versions.cfg

index = http://eggrepo.apps.eea.europa.eu/pypi/
find-links =
  http://eggshop.eaudeweb.ro
  http://eggrepo.apps.eea.europa.eu/simple
  http://dist.plone.org/thirdparty/
  http://pypi.python.org/pypi

[versions]
zc.buildout = 2.2.1
setuptools = 7.0
Pillow = 2.7.0
path.py = 7.3
Products.PluggableAuthService = 1.10.0
Products.LDAPMultiPlugins = 1.14
plone.recipe.zeoserver = 1.2.6
Sphinx = 1.1.3
Pygments = 1.4
lxml = 2.2.8
plone.recipe.zope2instance = 4.2
collective.recipe.template=1.12.1.eea
requests=1.2.3
raven = 2.0.3
reportek.converters = 1.1.1

# ZTK KGS overrides
manuel = 1.1.1
mechanize = 0.2.5
python-gettext = 1.2
ZConfig = 2.9.1
ZODB3 = 3.10.5

# Zope2 dependencies
repoze.retry = 1.2
repoze.tm2 = 1.0
repoze.who = 2.0
zope.testbrowser = 3.11.1
